* {
    font-family: sans-serif;
    margin: 0 auto;

}

fieldset {
    margin: 10%;
    text-align: center;
    padding: 1%;
}

footer {
    margin: 10% auto;
    text-align: center;
    border: 1px solid black;
    padding: 1%;
    width: 70%;
}

legend {
    font-size: 48px;
}


label {
    font-size: 24px;
}


#submit {
    margin: 1em;
}

input[type=checkbox] {
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    margin: 10px;
    display: inline-block;
}

.options {
    border: 0px solid black;
    padding: 0px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 7em;
    text-align: left;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    border: none;
    transition: all 1s ease-in;
  }

  #submit {
    transition-duration: 1s;
    transition-property: background, border-radius, color;
    transition-delay: 1s;
  }

  #submit:hover {
    background: purple;
    border-radius: 100%;
    cursor:pointer;
    color: white;
  }

  #email {
    display: flex;
    border: 0;
    background: #0087cc;
    border-radius: 4px;
    box-shadow: 0 8px 0 #006599;
    color: #fff;
    cursor: pointer;
    font: inherit;
    padding: 15px 10px;
    transition: all .1s linear;
    margin: 15px auto;
    text-align: center;
    flex-wrap: nowrap;
    width: 100px;
    justify-content: center;

  }

  #email:active {
    box-shadow: 0 2px 0 #006599;
    transform: translateY(3px);
  }

  a#email {
    text-decoration: none;
  }

  .nobel, #nobel {
    cursor: pointer;
  }

  